<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level %logger:%line - %msg%n</pattern>
		</encoder>
	</appender>

   <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/spring-boot-web-logs/spring-boot-mq.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:/spring-boot-web-logs/%d{yyyy-MM,aux}/spring-boot-mq.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level %logger:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="OFF"/>
	<logger name="jdbc.sqlonly" level="ON"/>
	<logger name="jdbc.resultset" level="OFF"/>
	<logger name="jdbc.audit" level="OFF"/>
	<logger name="jdbc.resultsettable" level="OFF"/>

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>

</configuration>